<div class="header">
  <a href="/" class="no-style"> <h1>GameShop</h1></a>
  <div class="links">
    <a href="/games">Games</a>
    <a href="/developers">Developers</a>
    <a href="/genres">Genres</a>
  </div>
</div>
