<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
   

    <title>Inventory</title>
  </head>
  <body>
    <%-include("./partials/header",{searchType:"hello"}) %>
    <main>
      <h1>Welcome!</h1>
      <p>GameShop is your one stop shop for all things games! Search for developers, genres and titles. Our database has every single game you could ever think of. Add, edit and delete any game. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores illum velit aliquid nam vero error, a itaque ipsam quo quasi explicabo commodi reprehenderit laudantium consequuntur ipsum temporibus sequi quia perspiciatis expedita odio fugit, dolor modi porro voluptates. Distinctio esse, ducimus ad beatae et accusantium, quibusdam necessitatibus praesentium, quia est eaque.
      </p>
      <p>Use the navigation at the top to get started. Have fun! </p>
      </div>
    </main>
  </body>
</html>
